# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.AT-Labs.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\blakk\Projects\Automatic Testing\AT-Lab1\.idea\.idea.AT-Labs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
