# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AT-Lab1.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\blakk\Projects\Automatic Testing\AT-Lab1\.idea\.idea.AT-Lab1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
